<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="true"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">./Part1/</directory>
        </testsuite>
    </testsuites>
</phpunit>
